VITE_SUPABASE_URL=https://pggrkmhyyuujhahtazun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnZ3JrbWh5eXV1amhhaHRhenVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5OTM0MTIsImV4cCI6MjA4ODU2OTQxMn0.exmuYgvQNRfzbV-NDQO8WeOzZBMBl6D4iGE1dg4fScw

VITE_PUBLIC_POSTHOG_KEY=phc_cyqMJgicYwBX89yfnm91F7jrd1lnOetoAJ77DMJeW9w
VITE_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com